/* nautilus transparency (csd code from arc) */
filechooser.csd.background,
filechooser placessidebar list,
.nautilus-window.csd.background,
.nautilus-window placessidebar list {
    background-color: transparent;
}
        
.sidebar,
.sidebar view,
.sidebar > view,
.sidebar scrolledwindow {
    background-color: alpha(@theme_bg_color, 0.8);
}

.sidebar:backdrop,
.sidebar view:backdrop,
.sidebar > view:backdrop,
.sidebar scrolledwindow:backdrop {
    background-color: @theme_unfocused_bg_color;
}
