@mixin switch() {
  switch {
    font-size: 0;
    color: transparent;
    outline-offset: -4px;
    margin: 4px;
    border: 1px solid $borders;
    border-radius: 16px;
    background-color: $borders;

    &:checked {
      border-color: $success_color;
      background-color: $success_color;

      &:backdrop {
        border-color: gtkmix($unfocused_selected_bg_color, $success_color, 0.8);
        background-color: gtkmix($unfocused_selected_bg_color, $success_color, 0.8);
      }
    }

    &:disabled {
      border-color: $disabled_bg_color;
      background-color: $disabled_bg_color;

      &:backdrop {
        border-color: $unfocused_disabled_bg_color;
        background-color: $unfocused_disabled_bg_color;
      }
    }

    &:backdrop {
      border-color: $unfocused_borders;
      background-color: $unfocused_borders;
    }

    slider {
      min-width: 20px;
      min-height: 20px;
      margin: 0;
      border: none;
      border-radius: 100%;
      color: $fg_color;
      box-shadow: 0 2px 2px 1px gtkalpha($dark_shadow, 0.09);
      background-color: gtkshade($bg_color, 1.4);
    }

    &:disabled {
      slider {
        background-color: $disabled_base_color;
      }

      &:backdrop slider {
        background-color: $unfocused_disabled_base_color;
      }
    }

    &:backdrop slider {
      background-color: gtkmix($unfocused_bg_color, $base_color, 0.2);
    }
  }
}
