@mixin textview() {
  textview {
    color: $text_color;
    background-color: $base_color;

    text {
      background-color: $base_color;

      &:selected, selection, &:selected:focus, selection:focus {
        color: $selected_text_color;
        background-color: $selected_base_color;
      }

      &:backdrop { background-color: $unfocused_base_color; }
    }
  }
}
