FeedReaderreaderUI.background.csd > .titlebar > GtkHeaderBar.header-bar.titlebar,
GeditWindow.background.csd > .titlebar > GtkHeaderBar.header-bar.titlebar {
  background: none;
  background-color: alpha(@titlebar_bg_color, 0.9); }
  GeditWindow.background.csd > .titlebar > GtkHeaderBar.header-bar.titlebar:backdrop {
    background-color: @theme_unfocused_bg_color; }
FeedReaderreaderUI.background.csd > FeedReaderreaderHeaderbar.titlebar,
GeditWindow.background.csd > .titlebar {
  background: none;
  background-color: transparent; }

/*GeditWindow.background.csd {
  background-color: transparent; }*/


