/* Gedit transparency */
FeedReaderreaderUI.background.csd > .titlebar > GtkHeaderBar.header-bar.titlebar,
GeditWindow.background.csd > .titlebar > GtkHeaderBar.header-bar.titlebar {
  background: none;
  background-color: alpha(@titlebar_bg_color, 0.9); }
  GeditWindow.background.csd > .titlebar > GtkHeaderBar.header-bar.titlebar:backdrop {
    background-color: @theme_unfocused_bg_color; }
FeedReaderreaderUI.background.csd > FeedReaderreaderHeaderbar.titlebar,
GeditWindow.background.csd > .titlebar {
  background: none;
  background-color: transparent; }

GeditWindow.background.csd {
  background-color: transparent; }

GeditWindow GtkStatusbar {
  background: @theme_bg_color; }

.gedit-bottom-panel-paned {
  background-color: @theme_base_color; }

/* Nautilus sidebar & headerbar transparency */
.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar GtkScrolledWindow {
    background: none;
}

NautilusWindow.background.csd > GtkHeaderBar.header-bar.titlebar,
NautilusWindow.background.csd {
    background: none;
    background-color: alpha(@titlebar_bg_color, 0.95);
}

/* make menu transparent (gnome) */
.csd .popup {
    background: transparent;
}

.background.csd .menu,
.csd .popup {
    border-radius: 0;
}
