/******************
 * window actions *
 ******************/

.titlebar .titlebutton.minimize {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/minimize-focused-normal.svg"));
}

.titlebar .titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("buttons/minimize-unfocused-normal.svg"));
    color: transparent;
}

.titlebar .titlebutton.minimize:hover {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/minimize-focused-active.svg"));
}

.titlebar .titlebutton.minimize:active,
.titlebar .titlebutton.minimize:checked {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/minimize-focused-pressed.svg"));
}

.titlebar .titlebutton.maximize {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/maximize-focused-normal.svg"));
}

.titlebar .titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("buttons/maximize-unfocused-normal.svg"));
    color: transparent;
}


.titlebar .titlebutton.maximize:hover {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/maximize-focused-active.svg"));
}

.titlebar .titlebutton.maximize:active,
.titlebar .titlebutton.maximize:checked  {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/maximize-focused-pressed.svg"));
}

.titlebar .titlebutton.close {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/close-focused-normal.svg"));
}

.titlebar .titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("buttons/close-unfocused-normal.svg"));
    color: transparent;
}


.titlebar .titlebutton.close:hover {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/close-focused-active.svg"));
}

.titlebar .titlebutton.close:active,
.titlebar .titlebutton.close:checked  {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/close-focused-pressed.svg"));
}

/*******************
 * check and radio *
 *******************/
check,
check row:selected,
check row:selected:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.svg"));
}

check:backdrop,
check row:selected:backdrop,
check row:selected:focus:backdrop {
    -gtk-icon-source: url("assets/checkbox-unchecked-unfocused.svg");
}

check:disabled,
check row:selected:disabled,
check row:selected:focus:disabled {
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.svg");
}

check:disabled:backdrop,
check row:selected:disabled:backdrop,
check row:selected:focus:disabled:backdrop {
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive-unfocused.svg");
}

check:active,  check:checked,
check row:selected:active,  check row:selected:checked,
check row:selected:focus:active,  check row:selected:focus:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.svg"));
}

check:active:backdrop, check:checked:backdrop,
check row:selected:active:backdrop, check row:selected:checked:backdrop,
check row:selected:focus:active:backdrop, check row:selected:focus:checked:backdrop {
    -gtk-icon-source: url("assets/checkbox-checked-unfocused.svg");
}

check:active:disabled,  check:checked:disabled,
check row:selected:active:disabled,  check row:selected:checked:disabled,
check row:selected:focus:active:disabled,  check row:selected:focus:checked:disabled {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive.svg");
}

check:active:disabled:backdrop,  check:checked:disabled:backdrop,
check row:selected:active:disabled:backdrop,  check row:selected:checked:disabled:backdrop,
check row:selected:focus:active:disabled:backdrop,  check row:selected:focus:checked:disabled:backdrop {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive-unfocused.svg");
}

check:indeterminate,
check row:selected:indeterminate,
check row:selected:focus:indeterminate {
    -gtk-icon-source: url("assets/checkbox-mixed.svg");
}

check:indeterminate:backdrop,
check row:selected:indeterminate:backdrop,
check row:selected:focus:indeterminate:backdrop {
    -gtk-icon-source: url("assets/checkbox-mixed-unfocused.svg");
}

check:indeterminate:disabled,
check row:selected:indeterminate:disabled,
check row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive.svg");
}

check:indeterminate:disabled:backdrop,
check row:selected:indeterminate:disabled:backdrop,
check row:selected:focus:indeterminate:disabled:backdrop {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive-unfocused.svg");
}

radio,
radio row:selected,
radio row:selected:focus {
    -gtk-icon-source: url("assets/radio-unselected.svg");
}

radio:backdrop,
radio row:selected:backdrop,
radio row:selected:focus:backdrop {
    -gtk-icon-source: url("assets/radio-unselected-unfocused.svg");
}

radio:disabled,
radio row:selected:disabled,
radio row:selected:focus:disabled {
    -gtk-icon-source: url("assets/radio-unselected-insensitive.svg");
}

radio:disabled:backdrop,
radio row:selected:disabled:backdrop,
radio row:selected:focus:disabled:backdrop {
    -gtk-icon-source: url("assets/radio-unselected-insensitive-unfocused.svg");
}

radio:active,  radio:checked,
radio row:selected:active,  radio row:selected:checked,
radio row:selected:focus:active,  radio row:selected:focus:checked {
    -gtk-icon-source: url("assets/radio-selected.svg");
}

radio:active:backdrop, radio:checked:backdrop,
radio row:selected:active:backdrop, radio row:selected:checked:backdrop,
radio row:selected:focus:active:backdrop, radio row:selected:focus:checked:backdrop {
    -gtk-icon-source: url("assets/radio-selected-unfocused.svg");
}

radio:active:disabled,  radio:checked:disabled,
radio row:selected:active:disabled,  radio row:selected:checked:disabled,
radio row:selected:focus:active:disabled,  radio row:selected:focus:checked:disabled {
    -gtk-icon-source: url("assets/radio-selected-insensitive.svg");
}

radio:active:disabled:backdrop,  radio:checked:disabled:backdrop,
radio row:selected:active:disabled:backdrop,  radio row:selected:checked:disabled:backdrop,
radio row:selected:focus:active:disabled:backdrop,  radio row:selected:focus:checked:disabled:backdrop {
    -gtk-icon-source: url("assets/radio-selected-insensitive-unfocused.svg");
}

radio:indeterminate,
radio row:selected:indeterminate,
radio row:selected:focus:indeterminate {
    -gtk-icon-source: url("assets/radio-mixed.svg");

}

radio:indeterminate:backdrop,
radio row:selected:indeterminate:backdrop,
radio row:selected:focus:indeterminate:backdrop {
    -gtk-icon-source: url("assets/radio-mixed-unfocused.svg");
}

radio:indeterminate:disabled,
radio row:selected:indeterminate:disabled,
radio row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: url("assets/radio-mixed-insensitive.svg");
}

radio:indeterminate:disabled:backdrop,
radio row:selected:indeterminate:disabled:backdrop,
radio row:selected:focus:indeterminate:disabled:backdrop {
    -gtk-icon-source: url("assets/radio-mixed-insensitive-unfocused.svg");
}

/**************************
 * menuitem check & radio *
 **************************/
menuitem check {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.svg"));
	color: @theme_fg_color;
	-gtk-icon-shadow: none; 
}
menuitem check:active, menuitem check:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.svg"));
}
menuitem check:indeterminate {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.svg"));
}
menuitem check:active:hover {
	color: @theme_selected_fg_color;
}
menuitem check:disabled {
	color: @insensitive_fg_color; 
}
menuitem radio {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unselected.svg"));
	color: @theme_fg_color;
	-gtk-icon-shadow: none; 
}
menuitem radio:active, menuitem radio:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-selected.svg"));
}
menuitem radio:indeterminate {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.svg"));
}
menuitem radio:hover {
	color: @theme_selected_fg_color;
}
menuitem radio:disabled {
	color: @insensitive_fg_color; 
}

