/* search for rgba value important! 46, 52, 54 */

/* default color scheme */
@define-color bg_color #373737;
@define-color fg_color #f1f1f1;
@define-color base_color #1f1f1f;
@define-color text_color #f1f1f1;
@define-color selected_bg_color #066DC1;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #1f1f1f;
@define-color tooltip_fg_color #ffffff;
@define-color theme_dark_fg_color #fff;
@define-color theme_dark_bg_color #e4e4e4;

@define-color titlebar_bg_color #373737;
@define-color titlebar_fg_color #ffffff;
@define-color sidebar_bg_color @titlebar_bg_color;

@define-color outline_color #4c4c4c;

/* widget text/foreground color */
@define-color theme_fg_color @fg_color;
/*
text color for entries, views and content in general */
@define-color theme_text_color @text_color;
/*
widget base background color */
@define-color theme_bg_color @bg_color;
/*
text widgets and the like base background color */
@define-color theme_base_color @base_color;
/*
base background color of selections */
@define-color theme_selected_bg_color @selected_bg_color;
/*
text/foreground color of selections */
@define-color theme_selected_fg_color @selected_fg_color;
/*
base background color of insensitive widgets */
@define-color insensitive_bg_color #525252;
/*
text foreground color of insensitive widgets */
@define-color insensitive_fg_color #040404;
/*
insensitive text widgets and the like base background color */
@define-color insensitive_base_color #e4e4e4;
/*
widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #cfcfcf;
/*
text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color grey;
/*
widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #4e4e4e;
/*
text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #2b2b2b;
/*
base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #8c8c8c;
/*
text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #000000;
/*
widgets main borders color */
@define-color borders #444444;
/*
widgets main borders color on backdrop windows */
@define-color unfocused_borders #4c4c4c;
/*
these are pretty self explicative */
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #73d216;
/*
these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color wm_title shade(#2e3436, 1.8);
@define-color wm_unfocused_title #8b8e8f;
@define-color wm_highlight rgba(255, 255, 255, 0.8);
@define-color wm_borders_edge rgba(255, 255, 255, 0.8);
@define-color wm_bg_a shade(#e8e8e7, 1.2);
@define-color wm_bg_b #e8e8e7;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);
@define-color wm_button_hover_color_a shade(#e8e8e7, 1.3);
@define-color wm_button_hover_color_b #e8e8e7;
@define-color wm_button_active_color_a shade(#e8e8e7, 0.85);
@define-color wm_button_active_color_b shade(#e8e8e7, 0.89);
@define-color wm_button_active_color_c shade(#e8e8e7, 0.9);
@define-color content_view_bg #ffffff;

@import url("gtk-contained.css");
